Slider: <strong>{{anchor}}</strong>, Captions: <strong>{{captions}}</strong>
 
<div class="galeria">
    <div class="image-container"><img src="assets/img/rubio(2).jpg" title="Funky roots" width="100%" height="auto"></div>
    <div class="image-container"><img src="assets/img/rubio(3).jpg" title="The long and winding road" width="100%" height="auto"></div>
    <div class="image-container"><img src="assets/img/rubio(4).jpg" title="Happy trees" width="100%" height="auto"></div>
</div>

<button (click)="lanzar($event)">Conseguir Autor</button>
