<div id="title">
    <h1> {{title}} </h1>
    <h2> {{subtitle}} </h2>
    <p> {{email}} </p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Los muchachos peronistas todos unidos triunfaremos y como siempre daremos
        Un grito de corazón: ¡Viva Perón! ¡Viva Perón! Por ese gran argentino
        Que se supo conquistar A la gran masa del pueblo Combatiendo al capital
        ¡Perón, Perón, qué grande sos!¡Mi general,cuanto valés!¡Perón, Perón, gran conductor!¡Sos el primer trabajador!
        Por los principios sociales que Perón ha establecido el pueblo entero está unido
        Y grita de corazón: ¡Viva Perón! ¡Viva Perón!
    </p>

</article>